<div id="wrapper">
    <header id="header">
    <a id="logo" href="#" target="blank">Menu burger (responsive)</a>
    <form id="form1">
        <input type="checkbox" name="burger" id="burger"/>
        <label for="burger" id="menu-burger">
            <span class="bar1"></span>
            <span class="bar2"></span>
            <span class="bar3"></span>
        </label>
        <nav id="menu">
        <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
            <li><a href="#">Item 4</a></li>
            <li><a href="#">Item 5</a></li>
        </ul>
        </div>
    </form>
    </header>
</div>