.header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  z-index: 9999;
  margin-bottom: 200px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.Logo img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  z-index: 9999;
  transition: margin 0.5s ease-in-out 0.6s; 
}

.Logo a {
  text-decoration: none;
  color: inherit;
  display: block;  
}

.Logo-centered img {
  margin: 0 auto;
}

.Logo-scrolled img {
  width: 60px; 
  height: 60px; 
  
}


.github-header {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: -15%; 
  left: 40px; 
  transform: translateX(-50%); 
  text-align: center;
  padding: 10px;
  transition: opacity 0.1s ease-in-out;
    z-index: 11;
}

.github-header-visible {
  opacity: 1;
  pointer-events: auto
}

.github-header a {
  font-size: 50px; 
  color: black;
}


.Logo img {
  transition: transform 0.3s ease-in-out; 
}

.Logo.animate-logo img {
  animation-name: slideDown;
}

.Logo img:hover {
  transform: scale(0.80); 
}

.github-header a {
  transition: font-size 0.3s ease-in-out; 
}

.github-header a:hover {
  font-size: 40px;  
}


/* Styles pour écran de PC classique (1024px) */
@media (max-width: 1024px) {
.Logo img {
  width: 70px;
  height: 70px;
}

.github-header a {
  font-size: 60px;
}

.github-header a:hover {
  font-size: 35px;
}
}

/* Styles pour tablette (768px) */
@media (max-width: 768px) {
.header {
  flex-direction: column;
  align-items: center;
  height: 80px;
}

.Logo img, .Logo-scrolled img {
  width: 60px;
  height: 60px;
  margin-top: 5px;
}



.github-header a {
  font-size: 55px;
}

.github-header a:hover {
  font-size: 28px;
}
}

/* Styles pour téléphone (320px à 425px) */
@media (max-width: 425px) {
.header {
  padding: 10px;
  height: 80px;
}

.Logo img, .Logo-scrolled img {
  width: 60px;
  height: 60px;
  margin-top: -5px;
}



.github-header a {
  font-size: 55px;
}

.github-header a:hover {
  font-size: 23px;
}
}


