@media (min-width: 1440px) and (max-width: 2560px){
* {
    margin:0;
    padding:0;
    font-size:1em;
    box-sizing:border-box;
    
}

body {
    font-family:sans-serif;
    font-size:1em;
    line-height:1.5;
    z-index: -1;
}

#wrapper {
    width:60%;
    margin:0 auto;
}

a#logo {
    display:inline-block;
    text-decoration:none;
    color:#147587;
    font-size:1.5em;
    margin:1.25em 0;
    transition:color .3s;
}

a#logo span {
    color:#FECB5F;
    transition:color .3s;
}

a#logo:hover {
    color:#14758790;
} 
a#logo:hover span {
    color:#FECB5F90;
}

input[type="checkbox"]#burger {
    display:none;
}

.burger-menu-container{
    height: 100%;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    width: 250px;
    height: 100%;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, opacity 0.3s, visibility 0.3s;    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu ul {
    display: none;
    top: 10%; 
    width: 100%; 
    flex-direction: column; 
    background-color: white; 
    list-style-type: none;
    padding: 0; 
    gap: 15px;
}

#form1 input[type="checkbox"]:checked ~ #menu ul {
    display: flex;
}



#menu ul li a {
    display:block;
    padding:1em;
    text-align:center;
    text-decoration:none;
    font-size: 25px;
    color: black;
    transition: background 0.5s ease, color 0.5s ease;

}

#menu ul li a:hover {
    background:#989c99;
    color:#e486a6;
}

label {
    background:#e486a6;
    display:block;
    padding:.5em .8em;
    color:#F3ECE5;
    text-align:center;
    font-weight:bold;
    cursor:pointer;
    position: fixed;
    top: 10px;
    right: 10px;
}

#menu-burger {
    display:block;
    cursor:pointer;
}

#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {
    display:block;
    width:24px;
    height:3px;
    background-color:#F1F1F1;
    margin:5px 0;
    transition:0.4s;
}

#menu-burger:hover {
    opacity:.75;
    transition:.5s;
}

input[type="checkbox"]#burger:checked ~ label .bar1 {
    transform:rotate(-45deg) translate(-5px, 5px);
}

input[type="checkbox"]#burger:checked ~ label .bar2 {
    opacity:0;
}

input[type="checkbox"]#burger:checked ~ label .bar3 {
    transform:rotate(45deg) translate(-6px, -6px);
}

input[type="checkbox"]#burger:checked ~ #menu {
    transform: translateX(0);
}

#form1 input[type="checkbox"]:checked ~ #menu {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

/* Pour l'effet d'opacité */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

#form1 input[type="checkbox"]:checked ~ .overlay {
    visibility: visible;
    opacity: 1;
}

input[type="checkbox"]#burger:checked ~ .overlay {
    visibility: visible;
    opacity: 1;
}


.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 35px;
}



.github-icon {
     display: flex;
    margin-top: 25px;
    
}

.github-icon a {
    font-size: 50px; 
    color: black;
}

html {
    scroll-behavior: smooth;
}
}

@media (min-width: 1025px) and (max-width: 1440px) {
    * {
        margin:0;
        padding:0;
        font-size:1em;
        box-sizing:border-box;
        
    }
    
    body {
        font-family:sans-serif;
        font-size:1em;
        line-height:1.5;
        z-index: -1;
    }
    
    #wrapper {
        width:60%;
        margin:0 auto;
    }
    
    a#logo {
        display:inline-block;
        text-decoration:none;
        color:#147587;
        font-size:1.5em;
        margin:1.25em 0;
        transition:color .3s;
    }
    
    a#logo span {
        color:#FECB5F;
        transition:color .3s;
    }
    
    a#logo:hover {
        color:#14758790;
    } 
    a#logo:hover span {
        color:#FECB5F90;
    }
    
    input[type="checkbox"]#burger {
        display:none;
    }
    
    .burger-menu-container{
        height: 100%;
    }
    
    #menu {
        position: fixed;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        width: 250px;
        height: 100%;
        background-color: white;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out, opacity 0.3s, visibility 0.3s;    z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #menu ul {
        display: none;
        top: 10%; 
        width: 100%; 
        flex-direction: column; 
        background-color: white; 
        list-style-type: none;
        padding: 0; 
        
    }
    
    #form1 input[type="checkbox"]:checked ~ #menu ul {
        display: flex;
    }
    
    
    
    #menu ul li a {
        display:block;
        padding:1em;
        text-align:center;
        text-decoration:none;
        font-size: 25px;
        color: black;
        transition: background 0.5s ease, color 0.5s ease;
    
    }
    
    #menu ul li a:hover {
        background:#989c99;
        color:#e486a6;
    }
    
    label {
        background:#e486a6;
        display:block;
        padding:.5em .8em;
        color:#F3ECE5;
        text-align:center;
        font-weight:bold;
        cursor:pointer;
        position: fixed;
        top: 10px;
        right: 10px;
    }
    
    #menu-burger {
        display:block;
        cursor:pointer;
    }
    
    #menu-burger .bar1,
    #menu-burger .bar2,
    #menu-burger .bar3 {
        display:block;
        width:24px;
        height:3px;
        background-color:#F1F1F1;
        margin:5px 0;
        transition:0.4s;
    }
    
    #menu-burger:hover {
        opacity:.75;
        transition:.5s;
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar1 {
        transform:rotate(-45deg) translate(-5px, 5px);
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar2 {
        opacity:0;
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar3 {
        transform:rotate(45deg) translate(-6px, -6px);
    }
    
    input[type="checkbox"]#burger:checked ~ #menu {
        transform: translateX(0);
    }
    
    #form1 input[type="checkbox"]:checked ~ #menu {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    
    /* Pour l'effet d'opacité */
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s, opacity 0.3s;
    }
    
    #form1 input[type="checkbox"]:checked ~ .overlay {
        visibility: visible;
        opacity: 1;
    }
    
    input[type="checkbox"]#burger:checked ~ .overlay {
        visibility: visible;
        opacity: 1;
    }
    
    
    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 35px;
    }
    
    
    
    .github-icon {
        display: flex;
       margin-top: 25px;
       
   }
    
    .github-icon a {
        font-size: 50px; 
        color: black;
    }
    
    html {
        scroll-behavior: smooth;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    * {
        margin:0;
        padding:0;
        font-size:1em;
        box-sizing:border-box;
        
    }
    
    body {
        font-family:sans-serif;
        font-size:1em;
        line-height:1.5;
        z-index: -1;
    }
    
    #wrapper {
        width:60%;
        margin:0 auto;
    }
    
    a#logo {
        display:inline-block;
        text-decoration:none;
        color:#147587;
        font-size:1.5em;
        margin:1.25em 0;
        transition:color .3s;
    }
    
    a#logo span {
        color:#FECB5F;
        transition:color .3s;
    }
    
    a#logo:hover {
        color:#14758790;
    } 
    a#logo:hover span {
        color:#FECB5F90;
    }
    
    input[type="checkbox"]#burger {
        display:none;
    }
    
    .burger-menu-container{
        height: 100%;
    }
    
    #menu {
        position: fixed;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        width: 250px;
        height: 100%;
        background-color: white;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out, opacity 0.3s, visibility 0.3s;    z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #menu ul {
        display: none;
        top: 10%; 
        width: 100%; 
        flex-direction: column; 
        background-color: white; 
        list-style-type: none;
        padding: 0; 
    }
    
    #form1 input[type="checkbox"]:checked ~ #menu ul {
        display: flex;
    }
    
    
    
    #menu ul li a {
        display:block;
        padding:1em;
        text-align:center;
        text-decoration:none;
        font-size: 25px;
        color: black;
        transition: background 0.5s ease, color 0.5s ease;
    
    }
    
    #menu ul li a:hover {
        background:#989c99;
        color:#e486a6;
    }
    
    label {
        background:#e486a6;
        display:block;
        padding:.5em .8em;
        color:#F3ECE5;
        text-align:center;
        font-weight:bold;
        cursor:pointer;
        position: fixed;
        top: 10px;
        right: 10px;
    }
    
    #menu-burger {
        display:block;
        cursor:pointer;
    }
    
    #menu-burger .bar1,
    #menu-burger .bar2,
    #menu-burger .bar3 {
        display:block;
        width:24px;
        height:3px;
        background-color:#F1F1F1;
        margin:5px 0;
        transition:0.4s;
    }
    
    #menu-burger:hover {
        opacity:.75;
        transition:.5s;
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar1 {
        transform:rotate(-45deg) translate(-5px, 5px);
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar2 {
        opacity:0;
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar3 {
        transform:rotate(45deg) translate(-6px, -6px);
    }
    
    input[type="checkbox"]#burger:checked ~ #menu {
        transform: translateX(0);
    }
    
    #form1 input[type="checkbox"]:checked ~ #menu {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    
    /* Pour l'effet d'opacité */
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s, opacity 0.3s;
    }
    
    #form1 input[type="checkbox"]:checked ~ .overlay {
        visibility: visible;
        opacity: 1;
    }
    
    input[type="checkbox"]#burger:checked ~ .overlay {
        visibility: visible;
        opacity: 1;
    }
    
    
    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 35px;
    }
    
    
    
    .github-icon {
        display: flex;
       margin-top: 25px;
       
   }
    
    .github-icon a {
        font-size: 50px; 
        color: black;
    }
    
    html {
        scroll-behavior: smooth;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    * {
        margin:0;
        padding:0;
        font-size:1em;
        box-sizing:border-box;
        
    }
    
    body {
        font-family:sans-serif;
        font-size:1em;
        line-height:1.5;
        z-index: -1;
    }
    
    #wrapper {
        width:60%;
        margin:0 auto;
    }
    
    a#logo {
        display:inline-block;
        text-decoration:none;
        color:#147587;
        font-size:1.5em;
        margin:1.25em 0;
        transition:color .3s;
    }
    
    a#logo span {
        color:#FECB5F;
        transition:color .3s;
    }
    
    a#logo:hover {
        color:#14758790;
    } 
    a#logo:hover span {
        color:#FECB5F90;
    }
    
    input[type="checkbox"]#burger {
        display:none;
    }
    
    .burger-menu-container{
        height: 100%;
    }
    
    #menu {
        position: fixed;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        width: 250px;
        height: 100%;
        background-color: white;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out, opacity 0.3s, visibility 0.3s;    z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #menu ul {
        display: none;
        top: 10%; 
        width: 100%; 
        flex-direction: column; 
        background-color: white; 
        list-style-type: none;
        padding: 0; 
    }
    
    #form1 input[type="checkbox"]:checked ~ #menu ul {
        display: flex;
    }
    
    
    
    #menu ul li a {
        display:block;
        padding:1em;
        text-align:center;
        text-decoration:none;
        font-size: 25px;
        color: black;
        transition: background 0.5s ease, color 0.5s ease;
    
    }
    
    #menu ul li a:hover {
        background:#989c99;
        color:#e486a6;
    }
    
    label {
        background:#e486a6;
        display:block;
        padding:.5em .8em;
        color:#F3ECE5;
        text-align:center;
        font-weight:bold;
        cursor:pointer;
        position: fixed;
        top: 10px;
        right: 10px;
    }
    
    #menu-burger {
        display:block;
        cursor:pointer;
    }
    
    #menu-burger .bar1,
    #menu-burger .bar2,
    #menu-burger .bar3 {
        display:block;
        width:24px;
        height:3px;
        background-color:#F1F1F1;
        margin:5px 0;
        transition:0.4s;
    }
    
    #menu-burger:hover {
        opacity:.75;
        transition:.5s;
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar1 {
        transform:rotate(-45deg) translate(-5px, 5px);
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar2 {
        opacity:0;
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar3 {
        transform:rotate(45deg) translate(-6px, -6px);
    }
    
    input[type="checkbox"]#burger:checked ~ #menu {
        transform: translateX(0);
    }
    
    #form1 input[type="checkbox"]:checked ~ #menu {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    
    /* Pour l'effet d'opacité */
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s, opacity 0.3s;
    }
    
    #form1 input[type="checkbox"]:checked ~ .overlay {
        visibility: visible;
        opacity: 1;
    }
    
    input[type="checkbox"]#burger:checked ~ .overlay {
        visibility: visible;
        opacity: 1;
    }
    
    
    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 35px;
    }
    
    
    
    .github-icon {
        display: flex;
       margin-top: 25px;
       
   }
    
    .github-icon a {
        font-size: 50px; 
        color: black;
    }
    
    html {
        scroll-behavior: smooth;
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    * {
        margin:0;
        padding:0;
        font-size:1em;
        box-sizing:border-box;
        
    }
    
    body {
        font-family:sans-serif;
        font-size:1em;
        line-height:1.5;
        z-index: -1;
    }
    
    #wrapper {
        width:60%;
        margin:0 auto;
    }
    
    a#logo {
        display:inline-block;
        text-decoration:none;
        color:#147587;
        font-size:1.5em;
        margin:1.25em 0;
        transition:color .3s;
    }
    
    a#logo span {
        color:#FECB5F;
        transition:color .3s;
    }
    
    a#logo:hover {
        color:#14758790;
    } 
    a#logo:hover span {
        color:#FECB5F90;
    }
    
    input[type="checkbox"]#burger {
        display:none;
    }
    
    .burger-menu-container{
        height: 100%;
    }
    
    #menu {
        position: fixed;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        width: 250px;
        height: 100%;
        background-color: white;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out, opacity 0.3s, visibility 0.3s;    z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #menu ul {
        display: none;
        top: 10%; 
        width: 100%; 
        flex-direction: column; 
        background-color: white; 
        list-style-type: none;
        padding: 0; 
    }
    
    #form1 input[type="checkbox"]:checked ~ #menu ul {
        display: flex;
    }
    
    
    
    #menu ul li a {
        display:block;
        padding:1em;
        text-align:center;
        text-decoration:none;
        font-size: 25px;
        color: black;
        transition: background 0.5s ease, color 0.5s ease;
    
    }
    
    #menu ul li a:hover {
        background:#989c99;
        color:#e486a6;
    }
    
    label {
        background:#e486a6;
        display:block;
        padding:.5em .8em;
        color:#F3ECE5;
        text-align:center;
        font-weight:bold;
        cursor:pointer;
        position: fixed;
        top: 10px;
        right: 10px;
    }
    
    #menu-burger {
        display:block;
        cursor:pointer;
    }
    
    #menu-burger .bar1,
    #menu-burger .bar2,
    #menu-burger .bar3 {
        display:block;
        width:24px;
        height:3px;
        background-color:#F1F1F1;
        margin:5px 0;
        transition:0.4s;
    }
    
    #menu-burger:hover {
        opacity:.75;
        transition:.5s;
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar1 {
        transform:rotate(-45deg) translate(-5px, 5px);
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar2 {
        opacity:0;
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar3 {
        transform:rotate(45deg) translate(-6px, -6px);
    }
    
    input[type="checkbox"]#burger:checked ~ #menu {
        transform: translateX(0);
    }
    
    #form1 input[type="checkbox"]:checked ~ #menu {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    
    /* Pour l'effet d'opacité */
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s, opacity 0.3s;
    }
    
    #form1 input[type="checkbox"]:checked ~ .overlay {
        visibility: visible;
        opacity: 1;
    }
    
    input[type="checkbox"]#burger:checked ~ .overlay {
        visibility: visible;
        opacity: 1;
    }
    
    
    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 35px;
    }
    
    
    
    .github-icon {
        display: flex;
       margin-top: 25px;
       
   }
    
    .github-icon a {
        font-size: 50px; 
        color: black;
    }
    
    html {
        scroll-behavior: smooth;
    }
}

@media (max-width: 319px) {
* {
        margin:0;
        padding:0;
        font-size:1em;
        box-sizing:border-box;
        
    }
    
    body {
        font-family:sans-serif;
        font-size:1em;
        line-height:1.5;
        z-index: -1;
    }
    
    #wrapper {
        width:60%;
        margin:0 auto;
    }
    
    a#logo {
        display:inline-block;
        text-decoration:none;
        color:#147587;
        font-size:1.5em;
        margin:1.25em 0;
        transition:color .3s;
    }
    
    a#logo span {
        color:#FECB5F;
        transition:color .3s;
    }
    
    a#logo:hover {
        color:#14758790;
    } 
    a#logo:hover span {
        color:#FECB5F90;
    }
    
    input[type="checkbox"]#burger {
        display:none;
    }
    
    .burger-menu-container{
        height: 100%;
    }
    
    #menu {
        position: fixed;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        width: 250px;
        height: 100%;
        background-color: white;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out, opacity 0.3s, visibility 0.3s;    z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #menu ul {
        display: none;
        top: 10%; 
        width: 100%; 
        flex-direction: column; 
        background-color: white; 
        list-style-type: none;
        padding: 0; 
    }
    
    #form1 input[type="checkbox"]:checked ~ #menu ul {
        display: flex;
    }
    
    
    
    #menu ul li a {
        display:block;
        padding:1em;
        text-align:center;
        text-decoration:none;
        font-size: 25px;
        color: black;
        transition: background 0.5s ease, color 0.5s ease;
    
    }
    
    #menu ul li a:hover {
        background:#989c99;
        color:#e486a6;
    }
    
    label {
        background:#e486a6;
        display:block;
        padding:.5em .8em;
        color:#F3ECE5;
        text-align:center;
        font-weight:bold;
        cursor:pointer;
        position: fixed;
        top: 10px;
        right: 10px;
    }
    
    #menu-burger {
        display:block;
        cursor:pointer;
    }
    
    #menu-burger .bar1,
    #menu-burger .bar2,
    #menu-burger .bar3 {
        display:block;
        width:24px;
        height:3px;
        background-color:#F1F1F1;
        margin:5px 0;
        transition:0.4s;
    }
    
    #menu-burger:hover {
        opacity:.75;
        transition:.5s;
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar1 {
        transform:rotate(-45deg) translate(-5px, 5px);
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar2 {
        opacity:0;
    }
    
    input[type="checkbox"]#burger:checked ~ label .bar3 {
        transform:rotate(45deg) translate(-6px, -6px);
    }
    
    input[type="checkbox"]#burger:checked ~ #menu {
        transform: translateX(0);
    }
    
    #form1 input[type="checkbox"]:checked ~ #menu {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    
    /* Pour l'effet d'opacité */
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s, opacity 0.3s;
    }
    
    #form1 input[type="checkbox"]:checked ~ .overlay {
        visibility: visible;
        opacity: 1;
    }
    
    input[type="checkbox"]#burger:checked ~ .overlay {
        visibility: visible;
        opacity: 1;
    }
    
    
    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 35px;
    }
    
    
    
    .github-icon {
        display: flex;
       margin-top: 25px;
       
   }
    
    .github-icon a {
        font-size: 50px; 
        color: black;
    }
    
    html {
        scroll-behavior: smooth;
    }
}