@media (min-width: 1440px) and (max-width: 2560px){
.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

.title-header {
    background-color: black;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
    border-radius: 35px;
    margin-top: 150px;
    margin-bottom: 50px;
    
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 3.5rem;
    text-align: left;
    z-index: 15;
    opacity: 1;
    color: #e486a6;
    font-family: 'Tilt Prism', sans-serif;
}

h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-top: 20px;
    z-index: 15;
    color: white;
    font-family: 'Lora', sans-serif;
    font-style: italic;
}

.project-content {
    display: flex;
    width: 80%;
    height: auto;
    border-top-left-radius: 10px;  /* ou la valeur que vous voulez */
    border-bottom-left-radius: 10px;

}
.linkdiv{
    position: absolute;
    top: 8%;
    left: 3%;

}
.return-link{

        position: fixed;
        background-color: black;
        width: 250px;
        height: auto;
        margin: auto;
        margin-left: 25px;
        padding: 25px;
        left: 0;
        font-family: 'Lora', sans-serif;
        font-size: 1.3rem; 
        text-decoration: none; 
        color: #e486a6; 
        font-weight: 700;
        border-radius: 25px;
        z-index: 100;

}

.project-image {
    width: 66%;
    height:auto;
        object-fit: cover;
    border-right: 6px solid #e486a6;
    border-top-left-radius: 25px;  /* ou la valeur que vous voulez */
    border-bottom-left-radius: 25px;
}

.project-description {
    width: 33%;  
    font-family: 'Lora', sans-serif;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 25px;  /* ou la valeur que vous voulez */
    border-bottom-right-radius: 25px;
}

.project-description p {
    padding: 20px;
}

.project-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 50px;
}

.project-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.Footer {
    width: 100%;
    align-self: flex-end; /* Assurez-vous que le pied de page est au bas de la fenêtre si le contenu est court */
}


.description{
    display:flex ;
    flex-direction: column;
    
}

}

@media (min-width: 1025px) and (max-width: 1440px) {
    .project-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 100vh;
    }
    
    .title-header {
        background-color: black;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 120px 0;
        border-radius: 35px;
        margin-top: 150px;
        margin-bottom: 50px;
        
    }
    
    h1, h2 {
        margin: 0;
    }
    
    h1 {
        font-size: 3.5rem;
        text-align: left;
        z-index: 15;
        opacity: 1;
        color: #e486a6;
        font-family: 'Tilt Prism', sans-serif;
    }
    
    h2 {
        font-size: 1.5rem;
        text-align: left;
        margin-top: 20px;
        z-index: 15;
        color: white;
        font-family: 'Lora', sans-serif;
        font-style: italic;
    }
    
    .project-content {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        border-top-left-radius: 10px;  /* ou la valeur que vous voulez */
        border-bottom-left-radius: 10px;
    }
    
    .linkdiv{
        position: absolute;
        top: 8.5%;
        margin-left: 0;
       
    
    }
    .return-link{
    
            position: fixed;
            background-color: rgba(0, 0, 0, 0.7);
            width: 250px;
            height: auto;
            margin-left: 0;
            padding: 25px;
            left: 0;
            font-family: 'Lora', sans-serif;
            font-size: 1.3rem; 
            text-decoration: none; 
            color: #e486a6; 
            font-weight: 700;
            border-radius: 25px;
            z-index: 100;
    
    }

 
    
    .project-image {
        width: 100%;
        height:auto;
        object-fit: cover;
        border-bottom: 6px solid #e486a6;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;

    }
    
    .project-description {
        width: 100%;  
        font-family: 'Lora', sans-serif;
        background-color: white;
        padding: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    
    .project-description p {
        padding: 20px;
    }
    
    .project-logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 50px;
    }
    
    .project-logo {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    
    .Footer {
        width: 100%;
        align-self: flex-end; /* Assurez-vous que le pied de page est au bas de la fenêtre si le contenu est court */
    }
    
    
    .description{
        display:flex ;
        flex-direction: column;
        
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .project-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 100vh;
    }
    
    .title-header {
        background-color: black;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 120px 0;
        border-radius: 35px;
        margin-top: 150px;
        margin-bottom: 50px;
        
    }
    
    h1, h2 {
        margin: 0;
    }
    
    h1 {
        font-size: 3.5rem;
        text-align: left;
        z-index: 15;
        opacity: 1;
        color: #e486a6;
        font-family: 'Tilt Prism', sans-serif;
    }
    
    h2 {
        font-size: 1.5rem;
        text-align: left;
        margin-top: 20px;
        z-index: 15;
        color: white;
        font-family: 'Lora', sans-serif;
        font-style: italic;
    }
    
    .project-content {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        border-top-left-radius: 10px;  /* ou la valeur que vous voulez */
        border-bottom-left-radius: 10px;
    }
    
    .linkdiv{
        position: absolute;
        top: 8.5%;
        margin-left: 0;
       
    
    }
    .return-link{
    
            position: fixed;
            background-color: rgba(0, 0, 0, 0.7);
            width: 250px;
            height: auto;
            margin-left: 0;
            padding: 25px;
            left: 0;
            font-family: 'Lora', sans-serif;
            font-size: 1.3rem; 
            text-decoration: none; 
            color: #e486a6; 
            font-weight: 700;
            border-radius: 25px;
            z-index: 100;
    
    }
    
    .project-image {
        width: 100%;
        height:auto;
        object-fit: cover;
        border-bottom: 6px solid #e486a6;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;

    }
    
    .project-description {
        width: 100%;  
        font-family: 'Lora', sans-serif;
        background-color: white;
        padding: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    
    .project-description p {
        padding: 20px;
    }
    
    .project-logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 50px;
    }
    
    .project-logo {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    
    .Footer {
        width: 100%;
        align-self: flex-end; /* Assurez-vous que le pied de page est au bas de la fenêtre si le contenu est court */
    }
    
    
    .description{
        display:flex ;
        flex-direction: column;
        
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .project-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 100vh;
    }
    
    .title-header {
        background-color: black;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 120px 0;
        border-radius: 35px;
        margin-top: 150px;
        margin-bottom: 50px;
        z-index: 9999;
        
    }
    
    h1, h2 {
        margin: 0;
    }
    
    h1 {
        font-size: 3.5rem;
        text-align: left;
        z-index: 15;
        opacity: 1;
        color: #e486a6;
        font-family: 'Tilt Prism', sans-serif;
    }
    
    h2 {
        font-size: 1.5rem;
        text-align: left;
        margin-top: 20px;
        z-index: 15;
        color: white;
        font-family: 'Lora', sans-serif;
        font-style: italic;
    }
    
    .project-content {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        border-top-left-radius: 10px;  /* ou la valeur que vous voulez */
        border-bottom-left-radius: 10px;
    }
    
    .linkdiv{
        position: absolute;
        top: 8.5%;
        margin-left: 0;
       
    
    }
    .return-link{
    
            position: fixed;
            background-color: rgba(0, 0, 0, 0.7);
            width: 250px;
            height: auto;
            margin-left: 0;
            padding: 25px;
            left: 0;
            font-family: 'Lora', sans-serif;
            font-size: 1.3rem; 
            text-decoration: none; 
            color: #e486a6; 
            font-weight: 700;
            border-radius: 25px;
            z-index: 100;
    
    }
    
    .project-image {
        width: 100%;
        height:auto;
        object-fit: cover;
        border-bottom: 6px solid #e486a6;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;

    }
    
    .project-description {
        width: 100%;  
        font-family: 'Lora', sans-serif;
        background-color: white;
        padding: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    
    .project-description p {
        padding: 20px;
    }
    
    .project-logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 50px;
    }
    
    .project-logo {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    
    .Footer {
        width: 100%;
        align-self: flex-end; /* Assurez-vous que le pied de page est au bas de la fenêtre si le contenu est court */
    }
    
    
    .description{
        display:flex ;
        flex-direction: column;
        
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .project-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 100vh;
    }
    
    .title-header {
        background-color: black;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 120px 0;
        border-radius: 35px;
        margin-top: 150px;
        margin-bottom: 50px;
        z-index: 9999;
        
    }
    
    h1, h2 {
        margin: 0;
        
    }
    
    h1 {
        font-size: 3.5rem;
        text-align: left;
        z-index: 15;
        opacity: 1;
        color: #e486a6;
        font-family: 'Tilt Prism', sans-serif;
    }
    
    h2 {
        font-size: 1.3rem;
        text-align: left;
        margin-top: 20px;
        z-index: 15;
        color: white;
        font-family: 'Lora', sans-serif;
        font-style: italic;
    }
    
    .project-content {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        border-top-left-radius: 10px;  /* ou la valeur que vous voulez */
        border-bottom-left-radius: 10px;
    }
    
    .linkdiv{
        position: absolute;
        top: 5.5%;
        margin-left: 0;
       
    
    }
    .return-link{
    
            position: fixed;
            background-color: rgba(0, 0, 0, 0.7);
            width: 250px;
            height: 60px;
            margin-left: 0;
            padding: 10px;
            padding-left: 35px;
            left: 0;
            font-family: 'Lora', sans-serif;
            font-size: 1.3rem; 
            text-decoration: none; 
            color: #e486a6; 
            font-weight: 700;
            border-radius: 25px;
            z-index: 100;
    
    }
    
    .project-image {
        width: 100%;
        height:auto;
        object-fit: cover;
        border-bottom: 6px solid #e486a6;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;

    }
    
    .project-description {
        width: 100%;  
        font-family: 'Lora', sans-serif;
        background-color: white;
        padding: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    
    .project-description p {
        padding: 20px;
    }
    
    .project-logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 50px;
    }
    
    .project-logo {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    
    .Footer {
        width: 100%;
        align-self: flex-end; /* Assurez-vous que le pied de page est au bas de la fenêtre si le contenu est court */
    }
    
    
    .description{
        display:flex ;
        flex-direction: column;
        
    }
}

@media (max-width: 319px) {
    .project-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 100vh;
    }
    
    .title-header {
        background-color: black;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 120px 0;
        border-radius: 35px;
        margin-top: 150px;
        margin-bottom: 50px;
        z-index: 9999;
        
    }
    
    h1, h2 {
        margin: 0;
        
    }
    
    h1 {
        font-size: 3.5rem;
        text-align: left;
        z-index: 15;
        opacity: 1;
        color: #e486a6;
        font-family: 'Tilt Prism', sans-serif;
    }
    
    h2 {
        font-size: 1.3rem;
        text-align: left;
        margin-top: 20px;
        z-index: 15;
        color: white;
        font-family: 'Lora', sans-serif;
        font-style: italic;
    }
    
    .project-content {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        border-top-left-radius: 10px;  /* ou la valeur que vous voulez */
        border-bottom-left-radius: 10px;
    }
    
    .linkdiv{
        position: absolute;
        top: 5.5%;
        margin-left: 0;
       
    
    }
    .return-link{
    
            position: fixed;
            background-color: rgba(0, 0, 0, 0.7);
            width: 250px;
            height: 60px;
            margin-left: 0;
            padding: 10px;
            padding-left: 35px;
            left: 0;
            font-family: 'Lora', sans-serif;
            font-size: 1.3rem; 
            text-decoration: none; 
            color: #e486a6; 
            font-weight: 700;
            border-radius: 25px;
            z-index: 100;
    
    }
    
    .project-image {
        width: 100%;
        height:auto;
        object-fit: cover;
        border-bottom: 6px solid #e486a6;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;

    }
    
    .project-description {
        width: 100%;  
        font-family: 'Lora', sans-serif;
        background-color: white;
        padding: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    
    .project-description p {
        padding: 20px;
    }
    
    .project-logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 50px;
    }
    
    .project-logo {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    
    .Footer {
        width: 100%;
        align-self: flex-end; /* Assurez-vous que le pied de page est au bas de la fenêtre si le contenu est court */
    }
    
    
    .description{
        display:flex ;
        flex-direction: column;
        
    }
}