.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

.title-header {
    background-color: black;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
    border-radius: 35px;
    margin-top: 150px;
    margin-bottom: 50px;
    
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 3.5rem;
    text-align: left;
    z-index: 15;
    opacity: 1;
    color: #e486a6;
    font-family: 'Tilt Prism', sans-serif;
}

h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-top: 20px;
    z-index: 15;
    color: white;
    font-family: 'Lora', sans-serif;
    font-style: italic;
}

.project-content {
    display: flex;
    width: 80%;
    height: auto;
    border-top-left-radius: 10px;  /* ou la valeur que vous voulez */
    border-bottom-left-radius: 10px;
}

.return-link{

        position: fixed;
        background-color: white;
        width: 250px;
        height: auto;
        margin: auto;
        padding: 25px;
        left: 0;
        margin-bottom: 1190px;
        font-family: 'Lora', sans-serif;
        font-size: 1.3rem; 
        text-decoration: none; 
        color: #e486a6; 
        font-weight: 700;
        border-radius: 25px;
        z-index: 10;

}

.project-image {
    width: 66%;
    height: auto;
    border-right: 6px solid #e486a6;
    border-top-left-radius: 25px;  /* ou la valeur que vous voulez */
    border-bottom-left-radius: 25px;
}

.project-description {
    width: 33%;  
    font-family: 'Lora', sans-serif;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 25px;  /* ou la valeur que vous voulez */
    border-bottom-right-radius: 25px;
}

.project-description p {
    padding: 20px;
}

.project-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 50px;
}

.project-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.Footer {
    width: 100%;
    align-self: flex-end; /* Assurez-vous que le pied de page est au bas de la fenêtre si le contenu est court */
}


.description{
    display:flex ;
    flex-direction: column;
    
}

