@media (min-width: 1440px) and (max-width: 2560px){
.Skills {
    font-family: 'Arial', sans-serif;
    padding: 40px;
    width: 60%; 
    height: auto;   
    margin: auto;
    margin-top: 85px;
    margin-bottom: 450px;
    background: #f4f4f4;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;  
}



h3 {
    font-size: 2.5rem;
    align-self: flex-start;
   
}

.categories {
    position: absolute;
    width: 100%;
    height:500px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: #f4f4f4;

}

.category {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: transparent;
    border: 2px dotted #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 1;  
}

.category:hover {
    transform: scale(0.9);
}

.category, .category::before {
    transition: transform 0.3s ease;
}

.category::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;  
    height: 50px; 
    background-color: #000;  
    border-radius: 50%;  
    z-index: 2;  
}

.category:hover::before {
    transform: translate(-50%, -50%) scale(0.9);
}




.category.front-end:hover {
    transform: translate(-175%, -120%) scale(0.9);
}

.category.back-end:hover {
    transform: translate(80%, -120%) scale(0.9);
}



.category.tools:hover {
    transform: translate(-50%, -25%) scale(0.9);
}

.category h4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;  
    z-index: 2;
    font-family: 'Lora', sans-serif;
}
    

.category.front-end h4 {
    bottom: 95%; 
    margin-bottom: 35px; 
}

.category.back-end h4 {
    bottom: 95%;
    margin-bottom: 35px;
}

.category.tools h4 {
    top: 95%; 
    margin-top: 35px;
     white-space: nowrap;
}
 .picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 35px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    z-index: 3;
}

#ReactLogo, #ReactJs, #ReactHtml, #ReactCss, #ReactSass, #ReactNode, #ReactGithub, #ReactGit, #SqlLogo, #MongoLogo, #PostmanLogo, #NetlifyLogo, #JqueryLogo {
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

#ReactLogo:hover, #ReactJs:hover, #ReactHtml:hover, #ReactCss:hover, #ReactSass:hover, #ReactNode:hover, #ReactGithub:hover, #ReactGit:hover, #SqlLogo:hover, #MongoLogo:hover, #PostmanLogo:hover, #NetlifyLogo:hover, #JqueryLogo:hover {
    width: 50px;
    height: 50px;
}



#ReactLogo {
    color: #61DAFB;
    transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);

}

#ReactJs {
    color: #F7DF1E;
    transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
}

#ReactHtml {
    color: #E34F26;
    transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
}

#ReactCss {
    color: #1572B6;
    transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
}

#ReactSass {
    color: #CC6699;
    transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
}

#ReactNode {
    color: #43853D;
    transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
}

#ReactGithub {
    color: #181717;
    transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);

}

#ReactGit {
    color: #F05032;
    transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
}

#SqlLogo {
    transform: translate(-50%, -50%) rotate(120deg) translate(100px) rotate(-120deg);

}

#MongoLogo {
    transform: translate(-50%, -50%) rotate(240deg) translate(100px) rotate(-240deg);
}

#PostmanLogo {
    transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
}

#NetlifyLogo {
    transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
}

#JqueryLogo {
    transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
}


.category.front-end {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-175%, -120%); 
    z-index: 1;
}

.category.front-end::after {
    content: "";
    position: absolute;
    height: 3.5px;
    width: 175%; /* Taille fixe de la ligne */
    background-color: #000;
    top: 50%;
    left: 50%;
    opacity: 0;
    animation: moveLine 2s  forwards infinite;
    z-index: 1;
}

.category.front-end:hover::after {
    opacity: 1;
}


.category.back-end {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(80%, -120%); 
}

.category.back-end::after {
    content: "";
    position: absolute;
    width: 3.5px;
    height: 105%; /* Ajustez la taille si nécessaire */
    background-color: #000;
    left: 50%;
    bottom: 50%;
    transform: rotate(-130deg); /* -60 degrés pour obtenir un angle de 8h */
    opacity: 0;
    animation: moveDiagonalLine8h 2s  forwards infinite ;
}

.category.back-end:hover::after {
    opacity: 1;
}

.category.tools {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -25%);
}

.category.tools::after {
    content: "";
    position: absolute;
    height: 3.5px;
    width: 105%; /* Taille fixe de la ligne */
    background-color: #000;
    top: 75%;
    left: 25%;
    opacity: 0;
    transform: rotate(45deg); /* Pour faire pivoter la ligne de 45 degrés */
    animation: moveDiagonalLineForTools 2s  forwards infinite;
}

.category.tools:hover::after {
    opacity: 1;
}


@keyframes moveLine {
    0% {
        left: 50%;
        opacity: 1;
    }
    50%{
        left: 140%;
        opacity: 1;
    }
    100% {
        left: 50%; 
        opacity: 1;
    }
}


@keyframes moveDiagonalLine8h {
    0% {
        left: 5%;
        top: 40%;
        opacity: 1;
    }
    50% {
        left: -40%;
        top: 80%; 
        opacity: 1;
    }
    100% {
        left: 5%;
        top: 40%;
        opacity: 1;
    }
}


@keyframes moveDiagonalLineForTools {
    0% {
        left: -45%;
        top: 7%;    
        opacity: 1;
    }

    50% {
        
        top: -60px;
        left: -185px;
    }
    
    100% {
        left: -45%;
        top: 7%;    
        opacity: 1;
    }
}

}

@media (min-width: 1025px) and (max-width: 1440px) {
    .Skills {
        font-family: 'Arial', sans-serif;
        width: 10%;
        padding: 30px;
        margin-top: 50px;
        margin-bottom: 800px; 
        display: flex;
        justify-content: center;
        margin: auto;
        
    }
    
    
    
    h3 {
        font-size: 2.5rem;
        align-self: flex-start;
       
    }
    
    .categories {
        position: absolute;
        width: 80%;
        height:500px ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        background: #f4f4f4;
        border-radius: 25px;
    }
    
    .category {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 20px;
        width:200px;
        height: 200px;
        border-radius: 50%;
        background: transparent;
        border: 2px dotted #000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        z-index: 1;  
    }
    
    .category:hover {
        transform: scale(0.9);
    }
    
    .category, .category::before {
        transition: transform 0.3s ease;
    }
    
    .category::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;  
        height: 50px; 
        background-color: #000;  
        border-radius: 50%;  
        z-index: 2;  
    }
    
    .category:hover::before {
        transform: translate(-50%, -50%) scale(0.9);
    }
    
    
    
    
    .category.front-end:hover {
        transform: translate(-175%, -120%) scale(0.9);
    }
    
    .category.back-end:hover {
        transform: translate(80%, -120%) scale(0.9);
    }
    
    
    
    .category.tools:hover {
        transform: translate(-50%, -25%) scale(0.9);
    }
    
    .category h4 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;  
        z-index: 2;
        font-family: 'Lora', sans-serif;
    }
        
    
    .category.front-end h4 {
        bottom: -50%; 
        margin-bottom: 35px; 
    }
    
    .category.back-end h4 {
        bottom: -50%;
        margin-bottom: 35px;
    }
    
    .category.tools h4 {
        top: 95%; 
        margin-top: 35px;
         white-space: nowrap;
    }
     .picture {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 35px;
        width: 45px;
        height: 45px;
        object-fit: cover;
        z-index: 3;
    }
    
    #ReactLogo, #ReactJs, #ReactHtml, #ReactCss, #ReactSass, #ReactNode, #ReactGithub, #ReactGit, #SqlLogo, #MongoLogo, #PostmanLogo, #NetlifyLogo, #JqueryLogo {
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    }
    
    #ReactLogo:hover, #ReactJs:hover, #ReactHtml:hover, #ReactCss:hover, #ReactSass:hover, #ReactNode:hover, #ReactGithub:hover, #ReactGit:hover, #SqlLogo:hover, #MongoLogo:hover, #PostmanLogo:hover, #NetlifyLogo:hover, #JqueryLogo:hover {
        width: 50px;
        height: 50px;
    }
    
    
    
    #ReactLogo {
        color: #61DAFB;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    
    }
    
    #ReactJs {
        color: #F7DF1E;
        transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
    }
    
    #ReactHtml {
        color: #E34F26;
        transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
    }
    
    #ReactCss {
        color: #1572B6;
        transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
    }
    
    #ReactSass {
        color: #CC6699;
        transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
    }
    
    #ReactNode {
        color: #43853D;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    }
    
    #ReactGithub {
        color: #181717;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    
    }
    
    #ReactGit {
        color: #F05032;
        transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
    }
    
    #SqlLogo {
        transform: translate(-50%, -50%) rotate(120deg) translate(100px) rotate(-120deg);
    
    }
    
    #MongoLogo {
        transform: translate(-50%, -50%) rotate(240deg) translate(100px) rotate(-240deg);
    }
    
    #PostmanLogo {
        transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
    }
    
    #NetlifyLogo {
        transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
    }
    
    #JqueryLogo {
        transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
    }
    
    
    .category.front-end {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-175%, -120%); 
        z-index: 1;
    }
    
    .category.front-end::after {
        content: "";
        position: absolute;
        height: 3.5px;
        width: 175%; 
        background-color: #000;
        top: 50%;
        left: 50%;
        opacity: 0;
        animation: moveLine 2s  forwards infinite;
        z-index: 1;
    }
    
    .category.front-end:hover::after {
        opacity: 1;
    }
    
    
    .category.back-end {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(80%, -120%); 
    }
    
    .category.back-end::after {
        content: "";
        position: absolute;
        width: 3.5px;
        height: 105%; 
        background-color: #000;
        left: 50%;
        bottom: 50%;
        transform: rotate(-130deg); /* -60 degrés pour obtenir un angle de 8h */
        opacity: 0;
        animation: moveDiagonalLine8h 2s  forwards infinite ;
    }
    
    .category.back-end:hover::after {
        opacity: 1;
    }
    
    .category.tools {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -25%);
    }
    
    .category.tools::after {
        content: "";
        position: absolute;
        height: 3.5px;
        width: 125%; /* Taille fixe de la ligne */
        background-color: #000;
        top: 75%;
        left: 25%;
        opacity: 0;
        transform: rotate(43deg); /* Pour faire pivoter la ligne de 45 degrés */
        animation: moveDiagonalLineForTools 2s  forwards infinite;
    }
    
    .category.tools:hover::after {
        opacity: 1;
    }
    
    
    @keyframes moveLine {
        0% {
            left: 50%;
            opacity: 1;
        }
        50%{
            left: 140%;
            opacity: 1;
        }
        100% {
            left: 50%; 
            opacity: 1;
        }
    }
    
    
    @keyframes moveDiagonalLine8h {
        0% {
            left: 5%;
            top: 40%;
            opacity: 1;
        }
        50% {
            left: -40%;
            top: 70%; 
            opacity: 1;
        }
        100% {
            left: 5%;
            top: 40%;
            opacity: 1;
        }
    }
    
    
    @keyframes moveDiagonalLineForTools {
        0% {
            left: -55%;
            top: 7%;    
            opacity: 1;
        }
    
        50% {
            
            top: -45px;
            left: -199px;
        }
        
        100% {
            left: -55%;
            top: 7%;    
            opacity: 1;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .Skills {
        font-family: 'Arial', sans-serif;
        width: 100%;
        height: auto;
        padding: 30px;
        margin-top: 50px;
        margin-bottom: 1800px; 
        display: flex;
        justify-content: center;
        margin: auto;
        
    }
    
    
    
    h3 {
        font-size: 2.5rem;
        align-self: flex-start;
       
    }
    
    .categories {
        position: absolute;
        width: 90%;
        height:500px ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        background: #f4f4f4;
        border-radius: 25px;
    }
    
    .category {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 20px;
        width:200px;
        height: 200px;
        border-radius: 50%;
        background: transparent;
        border: 2px dotted #000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        z-index: 1;  
    }
    
    .category:hover {
        transform: scale(0.9);
    }
    
    .category, .category::before {
        transition: transform 0.3s ease;
    }
    
    .category::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;  
        height: 50px; 
        background-color: #000;  
        border-radius: 50%;  
        z-index: 2;  
    }
    
    .category:hover::before {
        transform: translate(-50%, -50%) scale(0.9);
    }
    
    
    
    
    .category.front-end:hover {
        transform: translate(-175%, -120%) scale(0.9);
    }
    
    .category.back-end:hover {
        transform: translate(80%, -120%) scale(0.9);
    }
    
    
    
    .category.tools:hover {
        transform: translate(-50%, -25%) scale(0.9);
    }
    
    .category h4 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;  
        z-index: 2;
        font-family: 'Lora', sans-serif;
    }
        
    
    .category.front-end h4 {
        bottom: -50%; 
        margin-bottom: 35px; 
    }
    
    .category.back-end h4 {
        bottom: -50%;
        margin-bottom: 35px;
    }
    
    .category.tools h4 {
        top: 95%; 
        margin-top: 35px;
         white-space: nowrap;
    }
     .picture {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 35px;
        width: 45px;
        height: 45px;
        object-fit: cover;
        z-index: 3;
    }
    
    #ReactLogo, #ReactJs, #ReactHtml, #ReactCss, #ReactSass, #ReactNode, #ReactGithub, #ReactGit, #SqlLogo, #MongoLogo, #PostmanLogo, #NetlifyLogo, #JqueryLogo {
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    }
    
    #ReactLogo:hover, #ReactJs:hover, #ReactHtml:hover, #ReactCss:hover, #ReactSass:hover, #ReactNode:hover, #ReactGithub:hover, #ReactGit:hover, #SqlLogo:hover, #MongoLogo:hover, #PostmanLogo:hover, #NetlifyLogo:hover, #JqueryLogo:hover {
        width: 50px;
        height: 50px;
    }
    
    
    
    #ReactLogo {
        color: #61DAFB;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    
    }
    
    #ReactJs {
        color: #F7DF1E;
        transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
    }
    
    #ReactHtml {
        color: #E34F26;
        transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
    }
    
    #ReactCss {
        color: #1572B6;
        transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
    }
    
    #ReactSass {
        color: #CC6699;
        transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
    }
    
    #ReactNode {
        color: #43853D;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    }
    
    #ReactGithub {
        color: #181717;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    
    }
    
    #ReactGit {
        color: #F05032;
        transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
    }
    
    #SqlLogo {
        transform: translate(-50%, -50%) rotate(120deg) translate(100px) rotate(-120deg);
    
    }
    
    #MongoLogo {
        transform: translate(-50%, -50%) rotate(240deg) translate(100px) rotate(-240deg);
    }
    
    #PostmanLogo {
        transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
    }
    
    #NetlifyLogo {
        transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
    }
    
    #JqueryLogo {
        transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
    }
    
    
    .category.front-end {
        position: absolute;
        left: 55%;
        top: 50%;
        transform: translate(-175%, -120%); 
        z-index: 1;
    }
    
    .category.front-end::after {
        content: "";
        position: absolute;
        height: 3.5px;
        width: 140%; 
        background-color: #000;
        top: 50%;
        left: 50%;
        opacity: 0;
        animation: moveLine 2s  forwards infinite;
        z-index: 1;
    }
    
    .category.front-end:hover::after {
        opacity: 1;
    }
    
    
    .category.back-end {
        position: absolute;
        left: 43%;
        top: 50%;
        transform: translate(80%, -120%); 
    }
    
    .category.back-end::after {
        content: "";
        position: absolute;
        width: 3.5px;
        height: 105%; 
        background-color: #000;
        left: 50%;
        bottom: 50%;
        transform: rotate(-130deg); /* -60 degrés pour obtenir un angle de 8h */
        opacity: 0;
        animation: moveDiagonalLine8h 2s  forwards infinite ;
    }
    
    .category.back-end:hover::after {
        opacity: 1;
    }
    
    .category.tools {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -25%);
    }
    
    .category.tools::after {
        content: "";
        position: absolute;
        height: 3.5px;
        width: 125%; /* Taille fixe de la ligne */
        background-color: #000;
        top: 75%;
        left: 25%;
        opacity: 0;
        transform: rotate(43deg); /* Pour faire pivoter la ligne de 45 degrés */
        animation: moveDiagonalLineForTools 2s  forwards infinite;
    }
    
    .category.tools:hover::after {
        opacity: 1;
    }
    
    
    @keyframes moveLine {
        0% {
            left: 50%;
            opacity: 1;
        }
        50%{
            left: 140%;
            opacity: 1;
        }
        100% {
            left: 50%; 
            opacity: 1;
        }
    }
    
    
    @keyframes moveDiagonalLine8h {
        0% {
            left: 5%;
            top: 40%;
            opacity: 1;
        }
        50% {
            left: -25%;
            top: 70%; 
            opacity: 1;
        }
        100% {
            left: 5%;
            top: 40%;
            opacity: 1;
        }
    }
    
    
    @keyframes moveDiagonalLineForTools {
        0% {
            left: -55%;
            top: 7%;    
            opacity: 1;
        }
    
        50% {
            
            top: -45px;
            left: -140px;
        }
        
        100% {
            left: -55%;
            top: 7%;    
            opacity: 1;
        }
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .Skills {
        font-family: 'Arial', sans-serif;
        width: 100%;
        height: auto;
        padding: 30px;
        margin-top: 50px;
        margin-bottom: 2000px; 
        display: flex;
        justify-content: center;
        margin: auto;
        
    }
    
    
    
    h3 {
        font-size: 2.5rem;
        align-self: flex-start;
       
    }
    
    .categories {
        position: absolute;
        width: 90%;
        height:800px ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        background: #f4f4f4;
        border-radius: 25px;
    }
    
    .category {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 20px;
        width:200px;
        height: 200px;
        border-radius: 50%;
        background: transparent;
        border: 2px dotted #000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        z-index: 1;  
    }
    
    .category:hover {
        transform: scale(0.9);
    }
    
    .category, .category::before {
        transition: transform 0.3s ease;
    }
    
    .category::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;  
        height: 50px; 
        background-color: #000;  
        border-radius: 50%;  
        z-index: 2;  
    }
    
    .category:hover::before {
        transform: translate(-50%, -50%) scale(0.9);
    }
    
    
    
    
    .category.front-end:hover {
        transform: translate(-175%, -120%) scale(0.9);
    }
    
    .category.back-end:hover {
        transform: translate(80%, -120%) scale(0.9);
    }
    
    
    
    .category.tools:hover {
        transform: translate(-50%, -25%) scale(0.9);
    }
    
    .category h4 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;  
        z-index: 2;
        font-family: 'Lora', sans-serif;
    }
        
    
    .category.front-end h4 {
        bottom: 50%; 
        left: -25%;
        margin-bottom: 35px; 
        font-size: 15px;
    }
    
    .category.back-end h4 {
        bottom: 25%;
        left: -23%;
        margin-bottom: 35px;
    }
    
    .category.tools h4 {
        top: 95%; 
        margin-top: 35px;
         white-space: nowrap;
    }
     .picture {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 35px;
        width: 45px;
        height: 45px;
        object-fit: cover;
        z-index: 3;
    }
    
    #ReactLogo, #ReactJs, #ReactHtml, #ReactCss, #ReactSass, #ReactNode, #ReactGithub, #ReactGit, #SqlLogo, #MongoLogo, #PostmanLogo, #NetlifyLogo, #JqueryLogo {
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    }
    
    #ReactLogo:hover, #ReactJs:hover, #ReactHtml:hover, #ReactCss:hover, #ReactSass:hover, #ReactNode:hover, #ReactGithub:hover, #ReactGit:hover, #SqlLogo:hover, #MongoLogo:hover, #PostmanLogo:hover, #NetlifyLogo:hover, #JqueryLogo:hover {
        width: 50px;
        height: 50px;
    }
    
    
    
    #ReactLogo {
        color: #61DAFB;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    
    }
    
    #ReactJs {
        color: #F7DF1E;
        transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
    }
    
    #ReactHtml {
        color: #E34F26;
        transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
    }
    
    #ReactCss {
        color: #1572B6;
        transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
    }
    
    #ReactSass {
        color: #CC6699;
        transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
    }
    
    #ReactNode {
        color: #43853D;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    }
    
    #ReactGithub {
        color: #181717;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    
    }
    
    #ReactGit {
        color: #F05032;
        transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
    }
    
    #SqlLogo {
        transform: translate(-50%, -50%) rotate(120deg) translate(100px) rotate(-120deg);
    
    }
    
    #MongoLogo {
        transform: translate(-50%, -50%) rotate(240deg) translate(100px) rotate(-240deg);
    }
    
    #PostmanLogo {
        transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
    }
    
    #NetlifyLogo {
        transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
    }
    
    #JqueryLogo {
        transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
    }
    
    
    .category.front-end {
        position: absolute;
        left: 115%;
        top: 30%;
        transform: translate(-175%, -120%); 
        z-index: 1;
    }
    
    .category.front-end::after {
        content: "";
        position: absolute;
        height: 3.5px;
        width: 140%; 
        background-color: #000;
        top: 50%;
        left: 50%;
        opacity: 0;
        animation: moveLine 2s  forwards infinite;
        z-index: 1;
    }
    
    .category.front-end:hover::after {
        opacity: 0;
    }
    
    
    .category.back-end {
        position: absolute;
        left: -20%;
        top: 63%;
        transform: translate(80%, -120%); 
    }
    
    .category.back-end::after {
        content: "";
        position: absolute;
        width: 3.5px;
        height: 105%; 
        background-color: #000;
        left: 50%;
        bottom: 50%;
        transform: rotate(-130deg); /* -60 degrés pour obtenir un angle de 8h */
        opacity: 0;
        animation: moveDiagonalLine8h 2s  forwards infinite ;
    }
    
    .category.back-end:hover::after {
        opacity: 0;
    }
    
    .category.tools {
        position: absolute;
        left: 48%;
        bottom: 0;
        transform: translate(-50%, -25%);
    }
    
    .category.tools::after {
        content: "";
        position: absolute;
        height: 3.5px;
        width: 125%; /* Taille fixe de la ligne */
        background-color: #000;
        top: 75%;
        left: 25%;
        opacity: 0;
        transform: rotate(43deg); /* Pour faire pivoter la ligne de 45 degrés */
        animation: moveDiagonalLineForTools 2s  forwards infinite;
    }
    
    .category.tools:hover::after {
        opacity: 0;
    }
    
    
    
}

@media (min-width: 320px) and (max-width: 425px) {
    .Skills {
        font-family: 'Arial', sans-serif;
        width: 100%;
        height: auto;
        padding: 30px;
        margin-top: 50px;
        margin-bottom: 2000px; 
        display: flex;
        justify-content: center;
        margin: auto;
        
    }
    
    
    
    h3 {
        font-size: 2.5rem;
        align-self: flex-start;
       
    }
    
    .categories {
        position: absolute;
        width: 90%;
        height:800px ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        background: #f4f4f4;
        border-radius: 25px;
    }
    
    .category {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 20px;
        width:200px;
        height: 200px;
        border-radius: 50%;
        background: transparent;
        border: 2px dotted #000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        z-index: 1;  
    }
    
    .category:hover {
        transform: scale(0.9);
    }
    
    .category, .category::before {
        transition: transform 0.3s ease;
    }
    
    .category::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;  
        height: 50px; 
        background-color: #000;  
        border-radius: 50%;  
        z-index: 2;  
    }
    
    .category:hover::before {
        transform: translate(-50%, -50%) scale(0.9);
    }
    
    
    
    
    .category.front-end:hover {
        transform: translate(-175%, -120%) scale(0.9);
    }
    
    .category.back-end:hover {
        transform: translate(80%, -120%) scale(0.9);
    }
    
    
    
    .category.tools:hover {
        transform: translate(-50%, -25%) scale(0.9);
    }
    
    .category h4 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;  
        z-index: 2;
        font-family: 'Lora', sans-serif;
        display: none;
    }
        
    
    .category.front-end h4 {
        bottom: 50%; 
        left: -25%;
        margin-bottom: 35px; 
        font-size: 15px;
        display: none;
    }
    
    .category.back-end h4 {
        bottom: 25%;
        left: -23%;
        margin-bottom: 35px;
        display: none;
    }
    
    .category.tools h4 {
        top: 95%; 
        margin-top: 35px;
         white-space: nowrap;
    }
     .picture {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 35px;
        width: 45px;
        height: 45px;
        object-fit: cover;
        z-index: 3;
    }
    
    #ReactLogo, #ReactJs, #ReactHtml, #ReactCss, #ReactSass, #ReactNode, #ReactGithub, #ReactGit, #SqlLogo, #MongoLogo, #PostmanLogo, #NetlifyLogo, #JqueryLogo {
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    }
    
    #ReactLogo:hover, #ReactJs:hover, #ReactHtml:hover, #ReactCss:hover, #ReactSass:hover, #ReactNode:hover, #ReactGithub:hover, #ReactGit:hover, #SqlLogo:hover, #MongoLogo:hover, #PostmanLogo:hover, #NetlifyLogo:hover, #JqueryLogo:hover {
        width: 50px;
        height: 50px;
    }
    
    
    
    #ReactLogo {
        color: #61DAFB;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    
    }
    
    #ReactJs {
        color: #F7DF1E;
        transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
    }
    
    #ReactHtml {
        color: #E34F26;
        transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
    }
    
    #ReactCss {
        color: #1572B6;
        transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
    }
    
    #ReactSass {
        color: #CC6699;
        transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
    }
    
    #ReactNode {
        color: #43853D;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    }
    
    #ReactGithub {
        color: #181717;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    
    }
    
    #ReactGit {
        color: #F05032;
        transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
    }
    
    #SqlLogo {
        transform: translate(-50%, -50%) rotate(120deg) translate(100px) rotate(-120deg);
    
    }
    
    #MongoLogo {
        transform: translate(-50%, -50%) rotate(240deg) translate(100px) rotate(-240deg);
    }
    
    #PostmanLogo {
        transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
    }
    
    #NetlifyLogo {
        transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
    }
    
    #JqueryLogo {
        transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
    }
    
    
    .category.front-end {
        position: absolute;
        left: 135%;
        top: 30%;
        transform: translate(-175%, -120%); 
        z-index: 1;
    }
    
    .category.front-end::after {
        content: "";
        position: absolute;
        height: 3.5px;
        width: 140%; 
        background-color: #000;
        top: 50%;
        left: 50%;
        opacity: 0;
        animation: moveLine 2s  forwards infinite;
        z-index: 1;
    }
    
    .category.front-end:hover::after {
        opacity: 0;
    }
    
    
    .category.back-end {
        position: absolute;
        left: -42%;
        top: 63%;
        transform: translate(80%, -120%); 
    }
    
    .category.back-end::after {
        content: "";
        position: absolute;
        width: 3.5px;
        height: 105%; 
        background-color: #000;
        left: 50%;
        bottom: 50%;
        transform: rotate(-130deg); /* -60 degrés pour obtenir un angle de 8h */
        opacity: 0;
        animation: moveDiagonalLine8h 2s  forwards infinite ;
    }
    
    .category.back-end:hover::after {
        opacity: 0;
    }
    
    .category.tools {
        position: absolute;
        left: 48%;
        bottom: 0;
        transform: translate(-50%, -25%);
    }
    
    .category.tools::after {
        content: "";
        position: absolute;
        height: 3.5px;
        width: 125%; /* Taille fixe de la ligne */
        background-color: #000;
        top: 75%;
        left: 25%;
        opacity: 0;
        transform: rotate(43deg); /* Pour faire pivoter la ligne de 45 degrés */
        animation: moveDiagonalLineForTools 2s  forwards infinite;
    }
    
    .category.tools:hover::after {
        opacity: 0;
    }
    
    
    
}


@media (max-width: 319px) {
    .Skills {
        font-family: 'Arial', sans-serif;
        width: 100%;
        height: auto;
        padding: 30px;
        margin-top: 50px;
        margin-bottom: 2000px; 
        display: flex;
        justify-content: center;
        margin: auto;
        
    }
    
    
    
    h3 {
        font-size: 2.5rem;
        align-self: flex-start;
       
    }
    
    .categories {
        position: absolute;
        width: 90%;
        height:800px ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        background: #f4f4f4;
        border-radius: 25px;
    }
    
    .category {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 20px;
        width:200px;
        height: 200px;
        border-radius: 50%;
        background: transparent;
        border: 2px dotted #000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        z-index: 1;  
    }
    
    .category:hover {
        transform: scale(0.9);
    }
    
    .category, .category::before {
        transition: transform 0.3s ease;
    }
    
    .category::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;  
        height: 50px; 
        background-color: #000;  
        border-radius: 50%;  
        z-index: 2;  
    }
    
    .category:hover::before {
        transform: translate(-50%, -50%) scale(0.9);
    }
    
    
    
    
    .category.front-end:hover {
        transform: translate(-175%, -120%) scale(0.9);
    }
    
    .category.back-end:hover {
        transform: translate(80%, -120%) scale(0.9);
    }
    
    
    
    .category.tools:hover {
        transform: translate(-50%, -25%) scale(0.9);
    }
    
    .category h4 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;  
        z-index: 2;
        font-family: 'Lora', sans-serif;
        display: none;
    }
        
    
    .category.front-end h4 {
        bottom: 50%; 
        left: -25%;
        margin-bottom: 35px; 
        font-size: 15px;
        display: none;
    }
    
    .category.back-end h4 {
        bottom: 25%;
        left: -23%;
        margin-bottom: 35px;
        display: none;
    }
    
    .category.tools h4 {
        top: 95%; 
        margin-top: 35px;
         white-space: nowrap;
    }
     .picture {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 35px;
        width: 45px;
        height: 45px;
        object-fit: cover;
        z-index: 3;
    }
    
    #ReactLogo, #ReactJs, #ReactHtml, #ReactCss, #ReactSass, #ReactNode, #ReactGithub, #ReactGit, #SqlLogo, #MongoLogo, #PostmanLogo, #NetlifyLogo, #JqueryLogo {
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    }
    
    #ReactLogo:hover, #ReactJs:hover, #ReactHtml:hover, #ReactCss:hover, #ReactSass:hover, #ReactNode:hover, #ReactGithub:hover, #ReactGit:hover, #SqlLogo:hover, #MongoLogo:hover, #PostmanLogo:hover, #NetlifyLogo:hover, #JqueryLogo:hover {
        width: 50px;
        height: 50px;
    }
    
    
    
    #ReactLogo {
        color: #61DAFB;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    
    }
    
    #ReactJs {
        color: #F7DF1E;
        transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
    }
    
    #ReactHtml {
        color: #E34F26;
        transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
    }
    
    #ReactCss {
        color: #1572B6;
        transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
    }
    
    #ReactSass {
        color: #CC6699;
        transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
    }
    
    #ReactNode {
        color: #43853D;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    }
    
    #ReactGithub {
        color: #181717;
        transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
    
    }
    
    #ReactGit {
        color: #F05032;
        transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
    }
    
    #SqlLogo {
        transform: translate(-50%, -50%) rotate(120deg) translate(100px) rotate(-120deg);
    
    }
    
    #MongoLogo {
        transform: translate(-50%, -50%) rotate(240deg) translate(100px) rotate(-240deg);
    }
    
    #PostmanLogo {
        transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
    }
    
    #NetlifyLogo {
        transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
    }
    
    #JqueryLogo {
        transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
    }
    
    
    .category.front-end {
        position: absolute;
        left: 135%;
        top: 30%;
        transform: translate(-175%, -120%); 
        z-index: 1;
    }
    
    .category.front-end::after {
        content: "";
        position: absolute;
        height: 3.5px;
        width: 140%; 
        background-color: #000;
        top: 50%;
        left: 50%;
        opacity: 0;
        animation: moveLine 2s  forwards infinite;
        z-index: 1;
    }
    
    .category.front-end:hover::after {
        opacity: 0;
    }
    
    
    .category.back-end {
        position: absolute;
        left: -42%;
        top: 63%;
        transform: translate(80%, -120%); 
    }
    
    .category.back-end::after {
        content: "";
        position: absolute;
        width: 3.5px;
        height: 105%; 
        background-color: #000;
        left: 50%;
        bottom: 50%;
        transform: rotate(-130deg); /* -60 degrés pour obtenir un angle de 8h */
        opacity: 0;
        animation: moveDiagonalLine8h 2s  forwards infinite ;
    }
    
    .category.back-end:hover::after {
        opacity: 0;
    }
    
    .category.tools {
        position: absolute;
        left: 48%;
        bottom: 0;
        transform: translate(-50%, -25%);
    }
    
    .category.tools::after {
        content: "";
        position: absolute;
        height: 3.5px;
        width: 125%; /* Taille fixe de la ligne */
        background-color: #000;
        top: 75%;
        left: 25%;
        opacity: 0;
        transform: rotate(43deg); /* Pour faire pivoter la ligne de 45 degrés */
        animation: moveDiagonalLineForTools 2s  forwards infinite;
    }
    
    .category.tools:hover::after {
        opacity: 0;
    }
}