.Skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


.Skills h3 {
margin: auto;
}

.video-container{
    display: flex;
    width: 80%;
    height: auto;
    padding: 25px;
    margin: auto;
    background-color: black;
    border-radius: 25px;
    margin-top: 35px;
    
}

.video-container video {
    display: flex;
    margin: auto;
    width: 100%;
    min-height: 300px;
    border-radius: 25px;
}