.Skills {
    font-family: 'Arial', sans-serif;
    padding: 40px;
    width: 60%;    
    margin: auto;
    margin-bottom: 150px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    text-align: center;
    margin-bottom: 40px;
}

.categories {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: transparent;
    border: 2px dotted #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}


.category::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;  
    height: 50px; 
    background-color: #000;  
    border-radius: 50%;  
    z-index: 2;  
}


.category h4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;  
    z-index: 1;
    font-family: 'Lora', sans-serif;
}
    

.category.front-end h4 {
    bottom: 100%; 
    margin-bottom: 35px; 
}

.category.back-end h4 {
    bottom: 100%;
    margin-bottom: 35px;
}

.category.tools h4 {
    top: 100%; 
    margin-top: 35px;
     white-space: nowrap;
}
 .picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 35px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    z-index: 100;
}

#ReactLogo, #ReactJs, #ReactHtml, #ReactCss, #ReactSass, #ReactNode, #ReactGithub, #ReactGit, #SqlLogo, #MongoLogo, #PostmanLogo, #NetlifyLogo, #JqueryLogo {
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

#ReactLogo:hover, #ReactJs:hover, #ReactHtml:hover, #ReactCss:hover, #ReactSass:hover, #ReactNode:hover, #ReactGithub:hover, #ReactGit:hover, #SqlLogo:hover, #MongoLogo:hover, #PostmanLogo:hover, #NetlifyLogo:hover, #JqueryLogo:hover {
    width: 50px;
    height: 50px;
}



#ReactLogo {
    color: #61DAFB;
    transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);

}

#ReactJs {
    color: #F7DF1E;
    transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
}

#ReactHtml {
    color: #E34F26;
    transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
}

#ReactCss {
    color: #1572B6;
    transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
}

#ReactSass {
    color: #CC6699;
    transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
}

#ReactNode {
    color: #43853D;
    transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
}

#ReactGithub {
    color: #181717;
    transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);

}

#ReactGit {
    color: #F05032;
    transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
}

#SqlLogo {
    transform: translate(-50%, -50%) rotate(120deg) translate(100px) rotate(-120deg);

}

#MongoLogo {
    transform: translate(-50%, -50%) rotate(240deg) translate(100px) rotate(-240deg);
}

#PostmanLogo {
    transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
}

#NetlifyLogo {
    transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
}

#JqueryLogo {
    transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
}


.category.front-end {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-175%, -120%); 
}

.category.front-end::after {
    content: "";
    position: absolute;
    height: 3.5px;
    width: 105%; /* Taille fixe de la ligne */
    background-color: #000;
    top: 50%;
    left: 50%;
    opacity: 0;
    animation: moveLine 3s forwards infinite; /* Utilisation de l'animation moveLine */
}

.category.front-end:hover::after {
    opacity: 1;
}


.category.back-end {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(80%, -120%); 
}

.category.back-end::after {
    content: "";
    position: absolute;
    width: 3.5px;
    height: 105%; /* Ajustez la taille si nécessaire */
    background-color: #000;
    left: 50%;
    bottom: 50%;
    transform: rotate(-130deg); /* -60 degrés pour obtenir un angle de 8h */
    opacity: 0;
    animation: moveDiagonalLine8h 1.5s forwards infinite ;
}

.category.back-end:hover::after {
    opacity: 1;
}

.category.tools {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -25%);
}

.category.tools::after {
    content: "";
    position: absolute;
    height: 3.5px;
    width: 45%; /* Taille fixe de la ligne */
    background-color: #000;
    top: 75%;
    left: 25%;
    opacity: 0;
    transform: rotate(45deg); /* Pour faire pivoter la ligne de 45 degrés */
    animation: moveDiagonalLineForTools 3s forwards infinite;
}

.category.tools:hover::after {
    opacity: 1;
}


@keyframes moveLine {
    0% {
        left: 50%;
        opacity: 1;
    }
    50%{
        left: 200%;
        opacity: 1;
    }
    100% {
        left: 50%; 
        opacity: 1;
    }
}


@keyframes moveDiagonalLine8h {
    0% {
        left: 5%;
        top: 40%;
        opacity: 1;
    }
    50% {
        left: -40%;
        top: 80%; 
        opacity: 1;
    }
    100% {
        left: 5%;
        top: 40%;
        opacity: 1;
    }
}


@keyframes moveDiagonalLineForTools {
    0%, 100% {
        left: 25%;
        top: 75%;
        opacity: 1;
    }
    50% {
        left: -20%; /* Cette valeur dépend de l'amplitude de déplacement souhaitée. */
        top: 115%;  /* Cette valeur dépend de l'amplitude de déplacement souhaitée. */
        opacity: 1;
    }
}

