body{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: auto;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}

.Logo img{
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.Menu ul{
  display: flex;
  gap: 15px;
  list-style: none;
}


.Menu{
  margin-right: 25px;
}

.Presentation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
  margin-top: 25px;
}

.ProfilePicture img{
  width: 390px;
  height: 390px;
  object-fit: cover;
  border-radius: 1000px;
}

.Presentation h1{
  font-size: 70px;
}