body{
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway','Tilt Prism','Lora', sans-serif, ;

}


.Main{
    height: 80%;
    padding-bottom: 60px;
    box-sizing: border-box;
    flex: 1;
    z-index: 0;
}





.Presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 60%;
  height: auto;
  padding: 2%;   
  margin: auto;
  margin-top: 6%;  
  margin-bottom: 4%; 
  border-radius: 60px;
  z-index: 0;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: relative;  
}



.ProfilePicture img {
  width: 55%;  
  object-fit: cover;
  z-index: 0;
  border-radius: 45%;
 
}


.Presentation h1 {
  font-size: 3rem;
  font-family: 'Lora', sans-serif;
}

.Presentation p {
  font-style: italic;
  color: black;
}

.Descriptif {
  width: 175%;
  position: relative;
  z-index: 0;
  padding-left: 2.5%;
  font-family: 'Lora', sans-serif;

}


.Button-link {
  width: 175px;
  display: inline-block;
  text-decoration: none;
}

.Button-div {
  padding-top: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.Button {
  width: 100%;
  height: 60px;
  border: 3px double black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s, border 0.3s;
  
}

.Button:hover{
  background-color: #535254;
  border: none;
  
}

.Button img {
 width: 125px; 
  
}

